.chicken{
	margin: 80px;
	position: relative;
}
.part{
	background-color: wheat;
	position: absolute;
}
.torso{
	width: 200px;
	height: 125px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	top: 90px;
}
.tail{
	width: 50px;
	height: 80px;
	position: absolute;
	border-top-left-radius: 25px;
	border-top-right-radius: 5px;
	left: 150px;
	bottom: 100px;
}
.neck{
	width: 50px;
	height: 100px;
	border-top-right-radius: 40px;
	position: absolute;
	bottom: 90px;
	left: 0 px;
}
.head{
	width:40px;
	height: 40px;
	border-radius: 30px;
	top:0;
	right: 30px;
}
.tuftbig{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	bottom: 35px;
	right: 0px;
	background-color: crimson;
	z-index: -1;
}
.tuftsmall{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: crimson;
	z-index: -1;
}
.one{
	bottom: 0px;
	right: 12px;
}
.two{
	bottom: 0px;
	left: 12px;
}
.beak{
	background-color: transparent;
	width:0px;
	height:0px;
	border-top: 12px solid transparent;
	border-right: 40px solid GoldenRod;
	border-left: 0px solid transparent;
	border-bottom: 12px solid transparent;
	position: absolute;
	right: 20px;
	bottom: 10px;
	z-index: -1;
}
.leg{
	width: 10px;
	height: 60px;
	top: 110px;
	border-radius: 3px;
	background-color: GoldenRod;
	z-index: -1;
}
.first{
	left:80px;
}
.second{
	left: 100px;
}
