
.pie{
	width: 1000px;
	height: 750px;
	margin: 100px;
	margin-top: 250px;
	position: relative;
	background-color: transparent;
}
.knife{
	position: absolute;	
}
.handle{
	height: 30px;
	width: 180px;
	background-color: #1D1D1D;
	position: absolute;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	transform-origin: -20%, -20%;
  	transform: rotate(-45deg);
}
.handle.clicked{
	 -webkit-animation:handle-move 2s linear 1;
	 
 }
 
	@-webkit-keyframes handle-move {
	  0% { transform: rotate(-45deg)}
	  40% { transform: rotate(40deg)}
	  50% { transform: rotate(40deg)}
	  100% { transform: rotate(-45deg) }	
} 
.blade{
	background-color: #C9C8C8;
	width: 200px;
	height: 42px;
	border-bottom-right-radius: 30px;
	left: 180px;
}


.apple{
	position: relative;
	background-color: transparent;
	width: 170px;
	height: 130px;
	border-radius: 65px;
	top: 70px;
	left: 180px;
	
}
.whole{
	position: absolute;
	background-color: #C11F38;
	width: 170px;
	height: 130px;
	border-radius: 65px;
	z-index:-2;
	opacity: 1;
	transition: opacity .2s;
	transition-delay: .5s;
}
.whole.clicked{
	transition: opacity: 0;
	opacity: 0;
}
.slice{
	position: absolute;
	background-color: #C11F38;
	width: 85px;
	height: 130px;
	z-index:5;
}
.slice.right{
	border-top-right-radius: 65px;
	border-bottom-right-radius: 65px;
	transform-origin: 30% 80%;
}
.slice.left{
	border-top-left-radius: 65px;
	border-bottom-left-radius: 65px;
	transform-origin: 70% 80%;
}
.slice.first{
	left:0px;
	top:0px;
	opacity: 0;
	transition: opacity .2s;
	transition-delay: .5s;
	
}
.slice.second{
	right: 0px;
	opacity: 0;
	transition: opacity .2s;
	transition-delay: .5s;
	z-index: 10;
}
.slice.first.fall{
	transition: opacity:1;
	opacity: 1;
	-webkit-animation:slice1-fall 1s linear 1;
	transform: rotate(-90deg);
}

	@-webkit-keyframes slice1-fall {
	  0% { transform: rotate(0deg)}
	  45% { transform: rotate(0deg)}
	  95% { transform: rotate(-95deg)}
	  100% { transform: rotate(-90deg)}	
} 

.slice.first.move{
	-webkit-animation:slice1move .5s ease 1;
	left:350px;
	top: 350px;
	transform:rotate(-40deg)
}

	@-webkit-keyframes slice1move {
	  0% { left: 0px;top:0px; transform:rotate(-90deg) }
	  100% { left: 350px;top: 350px; transform:rotate(-40deg)}	
} 

.slice.second.fall{
	transition: opacity:1;
	opacity: 1;
	-webkit-animation:slice2-fall 1s linear 1;
	transform: rotate(90deg);
}

	@-webkit-keyframes slice2-fall {
  	  0% { transform: rotate(0deg)}
  	  45% { transform: rotate(0deg)}
  	  95% { transform: rotate(95deg)}
  	  100% { transform: rotate(90deg)}		
}

.slice.second.move{
	transition: opacity:1;
	opacity: 1;
	-webkit-animation:slice2move .5s linear 1;
	transform: rotate(35deg);
	left: 350px;
	top: 300px;
}

	@-webkit-keyframes slice2move {
	  0% { left:100px;top:0px; transform:rotate(90deg) }
	  100% { left:350px;top: 300px; transform:rotate(35deg)}	
}


.slice.left.third{
	display: none;
	transition: opacity 0s;
	transform: rotate(-90deg);
}
.slice.left.third.show{
	display: block;
}
.slice.third.move{
	-webkit-animation:slice3move .5s ease 1;
	left: 300px;
	top: 350px;
	transform:rotate(-80deg);
}

	@-webkit-keyframes slice3move {
	  0% { left: 0px;top:0px; transform:rotate(-90deg) }
	  100% { left: 300px;top: 350px; transform:rotate(-80deg)}	
} 

.slice.right.fourth{
	right:0px;
	display: none;
	transform: rotate(90deg);
}
.slice.fourth.show{
	display: block;	
}
.slice.fourth.move{
	-webkit-animation:slice4move .5s linear 1;
	left:300px;
	top: 220px; 
	transform:rotate(125deg);
}	

	@-webkit-keyframes slice4move {
	  0% { left:100px;top:0px; transform:rotate(90deg) }
	  100% { left:300px;top: 220px; transform:rotate(125deg)}	
}

.flesh{
	position: absolute;
	background-color: #f6eedc;
	width: 70px;
	height: 120px;
	z-index:3;
}
.fleshleft{
	border-top-left-radius: 65px;
	border-bottom-left-radius: 65px;
	right: 0px;
	top: 5px;
}
.fleshright{
	border-top-right-radius: 65px;
	border-bottom-right-radius: 65px;
	left: 0px;
	top: 5px;
}
.appleshadowone{
	width: 0px;
	height: 0px;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-right: 30px solid #e8dabc;
	border-left: 0px solid transparent;
	right: 0px;
	position: absolute;
}
.appleshadowtwo{
	width: 0px;
	height: 0px;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 30px solid #e8dabc;
	border-right: 0px solid transparent;
	left: 0px;
	position: absolute;
}
.shadow{
	background-color: #9B1B2E;
	width: 50px;
	height: 30px;
	border-radius: 15px;
	left: 60px;
	top: 5px;
	position: absolute;
}
.stem{
	background-color: #35312A;
	width: 8px;
	height: 35px;
	border-radius: 4px;
	left: 21px;
	bottom: 14px;
	position: absolute;
}
.rollingpin{
	position: absolute;
	background-color: transparent;
	width: 360px;
	height: 76px;
	border-radius: 20px;
	top: 200px;
	left: 480px;
}
.cylinder{
	position: absolute;
	background-color: #967A68;
	width: 360px;
	height: 76px;
	border-radius: 20px;
	transform-origin: 50% 50%;
	z-index: 2;
}
.rollingpin.clicked{
	top: -150px;
	-webkit-animation:pin 1s linear 1;
}

@-webkit-keyframes pin {
  0% { top: 150px; }
  100% { top: -150px; }	
}

.handle1{
	position: absolute;
	width: 100px;
	height: 30px;
	border-radius: 15px;
	background-color: #AE978A;
	left: -60px;
	top: 22px;
	z-index:-1;
	
}
.handle2{
	position: absolute;
	width: 100px;
	height: 30px;
	border-radius: 15px;
	background-color: #AE978A;
	right: -60px;
	top: 22px;
	z-index:-1;
	
}
.crust{
	position: absolute;
}
.light{
	background-color: #EEE1C4;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	left: 500px;
	top: -50px;
	transform: scale(.5);
	transition: 1s;
}
.crust.light.clicked{
	-webkit-animation:dough 1s linear 1;
	transform: scale(1);
}
	
@-webkit-keyframes dough {
  0% { transform:scale(.5) }
  100% { transform:scale(1) }	
}

.light.move{
	top: 330px;
	left: 380px;
	z-index: 3;
}
.dark{
	background-color: #DDCDAB;
	width: 220px;
	height: 220px;
	border-radius: 110px;
	left: 40px;
	top: 40px;
	z-index: 1;
	opacity: 0;
	transition: opacity 1s;
	transition-delay: .5s;
}
.dark.clicked{
	transition: opacity:1;
	opacity: 1;
	z-index: 4;
}
.rim{
	position: absolute;
	background-color: #C9C8C8;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	left: 380px;
	bottom: 120px;
	z-index:0;
}
.wall{
	position: absolute;
	background-color: #E2E2E1;
	width: 278px;
	height: 278px;
	border-radius: 139px;
	left: 11px;
	top: 11px;
}
.bottom{
	position: absolute;
	background-color: #C9C8C8;
	width: 220px;
	height: 220px;
	border-radius: 115px;
	left: 28px;
	top: 28px;
}

