.container{
	width: 80%;
	position: relative;
	margin: 0 auto;
}
img{
	width: 300px;
	margin: 10px;
	float: left;
	position: relative;
}
.overlay {
  position:fixed;
  height:100%;
  width:100%;
  left:0;
  top:0;
  background-color:rgba(0,0,0,0.3);
  z-index: 2;
  display:none;
}
h1{
	font-family: 'Josefin Sans', sans-serif;	
	font-weight: 700;	
	font-size: 2em;		
}
p{
	font-family: 'Josefin Sans', sans-serif;	
	font-size: 1em;		
	font-weight: 300;	
	
}
.modal {
  width: 500px;
  position: fixed;
  top: 20%;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color:white;
  padding:10px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  border-radius:10px;
  z-index:4;
  display:none;
}