* {
  margin: 0;
  padding: 0;
}

body { font-family: Times; font-size:16px; }

.purple{
	background-color:red;
}
.panel{
	width: 20%;
	background-color: white;
	position: fixed;
	left: 0px;
	z-index: 1;
	min-height: 100vh;
}
.title{
	position: relative;
	top: 15px;
	margin: auto;
	text-align: center;
}
h1{
	font-family: 'Oswald', sans-serif;
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
h3{
	font-family: 'Trocchi', serif;
	font-size: 1.9em;
	letter-spacing: 2px;
	line-height: 100%;
}
h4{
	font-family: 'Oswald', sans-serif;
	font-size: 4em;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 110%;
}
.blankspace{
	height: 80px;
}
.housetype{
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.characteristic{
	font-family: 'Trocchi', serif;
	font-size: .8em;
	line-height: 125%;
}
.description{
	font-family: 'Trocchi', serif;
	font-size: .8em;
	line-height: 135%;	
}
.characteristicimage{
	width: 60%;
}

.page {
  min-height: 100vh;
  position:relative;
}
.pageone{
	background-color: #e2d0b5;
}

.colonialroof{
	width: 380px;
	position: absolute;
	height: 60px;
	background-color: white;
	top: 0px;
	opacity: 0;
	right:40px;
	-webkit-transform: skew(55deg);
		   -moz-transform: skew(55deg);
		     -o-transform: skew(55deg);
}
.colonialface{
	width: 380px;
	position: absolute;
	height: 260px;
	background-color: white;
	bottom: 0px;
	opacity: 0;
	right:10px;
}
.pendent{
	width: 15px;
	position: absolute;
	height: 25px;
	background-color: white;
	bottom: 90px;
	opacity: 0;
}
.pendentone{
	right: 8px;
}
.pendenttwo{
	right: 150px;
}
.pendentthree{
	right:230px;
}
.pendentfour{
	right: 370px;
}

.pagetwo{
	background-color: #799fcd;
}

.elliptocal{
	position: absolute;
	background-color:white;
	opacity: 0;
	width: 70px;
	height: 20px;
	right: 185px;
	bottom: 70px;
}
.pediment{
	position: absolute;
	opacity: 0;
	border-right: 70px solid transparent;
	border-left: 70px solid transparent;
	border-bottom: 80px solid white;
	width: 0px;
	height: 0px;
	bottom: 240px;
	right: 150px;
}
.pilaster{
	width: 35px;
	height: 130px;
	background-color: white;
	position: absolute;
	bottom: -30px;
	opacity: 0;
}
.pilasterone{
	right: 142px;
}
.pilastertwo{
	right: 260px;
}
.pagethree{
	background-color: #ead6dd;
}

.cupola{
	width: 105px;
	height: 180px;
	background-color: white;
	position: absolute;
	bottom: 175px;
	opacity: 0;
	right: 265px;
}
.crossgable{
	width: 155px;
	height: 200px;
	background-color: white;
	position: absolute;
	bottom: -60px;
	right: 375px;
	opacity: 0;
}
.ornamentation{
	width: 125px;
	height: 90px;
	background-color: white;
	position: absolute;
	right: 80px;
	opacity: 0;
}
.ornamentationone{
	background-color:cornflowerblue;
	bottom: -50px;
}
.ornamentationtwo{
	background-color:grey;
	bottom: 70px;
}
.ornamentationthree{
	width: 65px;
	height: 105px;
	background-color:white;
	right: 270px;
	bottom: -60px;
}

.pagefour{
	background-color: #ddcf93;
}
.horizontal{
	z-index: 4;
	width: 600px;
	height: 20px;
	top: 170px;
	background-color: white;
	opacity: 0;
	position: absolute;
}
.halfstory{
	width: 600px;
	height: 100px;
	position:absolute;
	background-color:white;
	opacity: 0;
}
.chunky{
	bottom: 30px;
	width: 20px;
	height: 190px;
	position: absolute;
	background-color:cornflowerblue;
	opacity: 0;
}
.chunkyone{
	right: 10px;
}
.chunkytwo{
	right: 210px;
}
.box{
	background-color: cornflowerblue;
	min-height: 50vh;
	width:100%;
	padding: 0;
	margin: 0;
	background-size: cover;
	background-position: center;
	display: block;
}
.overlay{
	position: absolute;
}
.overlay.colonial:hover{
	opacity: .8;
}
.overlay.federal:hover{
	opacity: .8;
}
.overlay.victorian:hover{
	opacity: .8;
}
.overlay.bungalow:hover{
	opacity: .8;
}
.overlay.colonial{
	width: 100%;
	min-height: 50vh;
	background-color:#773131;
	opacity:0;
}
.overlay.federal{
	width: 100%;
	min-height: 50vh;
	background-color:#b54112;
	opacity:0;
}
.overlay.victorian{
	width: 100%;
	min-height: 50vh;
	background-color:#c6ab6a;
	opacity:0;
}
.overlay.bungalow{
	width: 100%;
	min-height: 50vh;
	background-color:#849d81;
	opacity:0;
}
.label{
	margin: 0 auto;
	font-family: 'Trocchi', serif;
	color:white;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
}

.box.colonial1{
	background-image: url("images/photos/colonial/colonial_1.jpg");
}
.box.colonial2{
	background-image: url("images/photos/colonial/colonial_2.jpg");
}
.box.colonial3{
	background-image: url("images/photos/colonial/colonial_3.jpg");
}
.box.colonial4{
	background-image: url("images/photos/colonial/colonial_4.jpg");
}
.box.federal1{
	background-image: url("images/photos/federal/federal_1.jpg");
}
.box.federal2{
	background-image: url("images/photos/federal/federal_2.jpg");
}
.box.federal3{
	background-image: url("images/photos/federal/federal_3.jpg");
}
.box.federal4{
	background-image: url("images/photos/federal/federal_4.jpg");
}
.box.victorian1{
	background-image: url("images/photos/victorian/victorian_1.jpg");
}
.box.victorian2{
	background-image: url("images/photos/victorian/victorian_2.jpg");
}
.box.victorian3{
	background-image: url("images/photos/victorian/victorian_3.jpg");
}
.box.victorian4{
	background-image: url("images/photos/victorian/victorian_4.jpg");
}
.box.bungalow1{
	background-image: url("images/photos/bungalow/bungalow_1.jpg");
}
.box.bungalow2{
	background-image: url("images/photos/bungalow/bungalow_2.jpg");
}
.box.bungalow3{
	background-image: url("images/photos/bungalow/bungalow_3.jpg");
}
.box.bungalow4{
	background-image: url("images/photos/bungalow/bungalow_4.jpg");
}

.imagewrapper{
	position: relative;
	padding-left: 20%;
	margin: 0 auto;
	display: block;
	width: 600px;
	height: 325px;
	top: 50%;
	transform: translateY(40%);
	background-color: transparent;
}
img.house{
	position: absolute;
	margin: 0 auto;
	display: block;
	width: 600px;
}

.house.victorian{
	top: 0px;
	width: 500px;
	top: -50px;
	right: 40px;
}
.house.bungalow{
	
}
.photospan{
	display: block;
	width: 80%;
	position: absolute;
	right: 0px;
	background-color: crimson;
	min-height: 100vh;
	height:100%;
	z-index: 3;
}
.photo{
	width:100%;
	padding: 0;
	margin: 0;
	display: block;
}
.left{
	width:50%;
	position: relative;
	float: left;
	background-color:transparent;
	min-height: 100vh;
}
.right{
	width:50%;
	position: relative;
	float: right;
	background-color:beige;
	min-height: 100vh;
}