* {
  margin: 0;
  padding: 0;
}

body { font-family: Times; font-size:16px; }


.panel{
	width: 20%;
	background-color: white;
	position: fixed;
	left: 0px;
	z-index: 1;
	min-height: 100vh;
}
.title{
	position: absolute;
	top: 10px;
	left: 20px;
	text-align: center;
}
h1{
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
h2{
	font-family: 'Trocchi', serif;
	font-size: .8em;
}
h3{
	font-family: 'Trocchi', serif;
	font-size: 2em;
	letter-spacing: 2px;
}
h4{
	font-family: 'Oswald', sans-serif;
	font-size: 4em;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 85%;
}
.page {
  min-height: 100vh;
  position:relative;
}
.pageone{
	background-color: #e2d0b5;
}
.pagetwo{
	background-color: #799fcd;
}
.pagethree{
	background-color: #ead6dd;
}

.pagefour{
	background-color: #ddcf93;
}
img.house{
	position: absolute;
	right: 100px;
	top: 100px;
	width: 600px;
}
.victorian{
	top: 50px;
}
.photospan{
	width: 80%;
	position: absolute;
	right: 0px;
	background-color: crimson;
	/*min-height: 100vh;*/
	height:100%;
	z-index: 3;
}
.photo{
	width:100%;
	padding: 0;
	margin: 0;
	display: block;
}
.left{
	width:50%;
	position: relative;
	float: left;
}
.right{
	width:50%;
	position: relative;
	float: right;
}